<h3>
    <a href="/project">
        <i class="fa fa-plus"></i>
        Create new
    </a>
    EmployeeList
</h3>

<table class="table table-striped">
    <thread>
        <tr>
            <th>Title</th>
            <th>Email</th>
            <th>Full Name</th>
            <th>Description</th>
            <th></th>
        </tr>
    </thread>
    <tbody>
    {{#each list}}
        <tr>
            <td>{{this.title}}</td>
            <td>{{this.email}}</td>
            <td>{{this.fullname}}</td>
            <td>{{this.description}}</td>
            <td>
                <a href="/project/{{this._id}}">
                    <i class="fa fa-pencil fa-lg" aria-hidden="true"></i>
                </a>
                <a href="/project/delete/{{this._id}}" onclick="return confirm('Do you want to delete this record?')">
                    <i class="fa fa-trash fa-lg" aria-hidden="true">

                    </i>
                </a>
            </td>
        </tr>
    {{/each}}
    </tbody>
</table>